<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/publicaciones.css') }}">
    <title>Publicaciones</title>
</head>
<body>

    <div class="contenido-principal">

        {% block titulo %}

        <h1>Publicaciones</h1>

        {% endblock titulo %}

        <button id="toggle-navbar" class="toggle-button">
            <img src="{{ url_for('static', filename='imagenes/hamburguesa.png') }}" alt="Hamburguesa Icon" width="18" height="18">
        </button>

        <div class="navbar" id="navbar">
            <ul>
                <li><a href="/publicaciones">Inicio</a></li>
                <li><a href="/me">{{ usuario }}</a></li>
                <li><a href="/anadir_publicacion">Nueva Publicacion</a></li>
                <li><a href="/logout">Salir</a></li>
            </ul>
        </div>

        {% block principal %}

        {% if publicaciones %}

            <div class="tarjetas">

                {% for publicacion in publicaciones %}

                    <div class="tarjeta">
                        <h2>{{ publicacion[1] }}</h2>
                        <p class="descripcion">{{ publicacion[2] }}</p>
                        <a href="/usuario/{{ publicacion[5] }}" class="usuario">{{ publicacion[3] }}</a>
                        <p class="fecha">{{ publicacion[4] }}</p>
                        <div class="contenedor-acciones">
                            <p class="likes">{{ publicacion[6] }}</p>
                            <a href="/dar_like/{{ publicacion[0] }}" class="btn-me-gusta">
                                <img src="{{ url_for('static', filename='imagenes/like.png') }}" alt="Me gusta" width="22" height="22">
                            </a>
                            <p class="comentarios">{{ publicacion[7] }}</p>
                            <a href="/comentar/{{ publicacion[0] }}" class="btn-ver-comentarios">
                                <img src="{{ url_for('static', filename='imagenes/comentario.png') }}" alt="Comentario" width="22" height="22">
                            </a>
                        </div>
                    </div>

                {% endfor %}

            </div>

        {% else %}

            <div class="contenedor-no-publicaciones">
                <p class="mensaje-no-publicaciones">Nadie ha publicado aun...¡Se el primero en publicar!</p>
                <a href="/anadir_publicacion" class="nueva-publicacion-button">Realizar Nueva Publicacion</a>
            </div>
            
        {% endif %}

        {% endblock principal %}

    </div>

    <script src="{{ url_for('static', filename='javascript/navbar.js') }}"></script>

    <footer>
        <p>&copy; 2024 Publicaciones App. Todos los derechos reservados.</p>
    </footer>

</body>
</html>