{% extends "publicaciones.html" %}

{% block titulo %}

{% endblock titulo %}


{% block principal %}

<div class="contenedor-perfil">
    <h1>{{ usuario_perfil.upper() }}</h1>
    <p><strong>Nombre:</strong> {{ nombre_apellido.upper() }}</p>
    <p><strong>Edad:</strong> {{ edad }} años</p>
    <p><strong>Numero de Publicaciones:</strong> {{ numero_publicaciones }}</p>
</div>


{% if publicaciones_usuario %}

    <div class="tarjetas-perfil">

        {% for publicacion in publicaciones_usuario %}

            <div class="tarjeta-perfil">
                <h2>{{ publicacion[1] }}</h2>
                <p class="descripcion">{{ publicacion[2] }}</p>
                <a href="/usuario/{{ publicacion[5] }}" class="usuario">{{ publicacion[3] }}</a>
                <p class="fecha">{{ publicacion[4] }}</p>
                <div class="contenedor-acciones">
                    <p class="likes">{{ publicacion[6] }}</p>
                    <a href="/dar_like/{{ publicacion[0] }}" class="btn-me-gusta">
                        <img src="{{ url_for('static', filename='imagenes/like.png') }}" alt="Me gusta" width="22" height="22">
                    </a>
                    <p class="comentarios">{{ publicacion[7] }}</p>
                    <a href="/comentar/{{ publicacion[0] }}" class="btn-ver-comentarios">
                        <img src="{{ url_for('static', filename='imagenes/comentario.png') }}" alt="Comentario" width="22" height="22">
                    </a>
                </div>
            </div>

        {% endfor %}

    </div>

{% else %}

    <div class="contenedor-no-publicaciones-perfil">
        <p class="mensaje-no-publicaciones-perfil">No hay ninguna publicacion de {{ usuario_perfil.upper() }}...</p>
    </div>
    
{% endif %}

{% endblock principal %}